<a href="https://colab.research.google.com/github/Andreluizfc/python-materials/blob/main/notebooks/python_concepts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pythonic concepts

## 1 Comprehensions

**Syntax:**

`new_list = [expression for member in iterable]`

In [1]:
# Squared Numbers

import numpy as np

numbers = np.arange(1,11)
numbers_squared = []

for item in numbers:
  numbers_squared.append(item**2)
numbers_squared

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [2]:
# With comprehension

numbers_squared = [item**2 for item in numbers]
numbers_squared

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Comprehensions with Conditionals

**Syntax:**

`new_list = [expression for member in iterable (if conditional)]`

In [3]:
# Square the number if number is even

result = []

for item in numbers:
  if item % 2 == 0:
    result.append(item**2)
result

[4, 16, 36, 64, 100]

In [4]:
# With comprehension

result = [item**2 for item in numbers if item % 2 == 0]
result

[4, 16, 36, 64, 100]

In [5]:
# With else condition

result = []

for item in numbers:
  if item % 2 == 0:
    result.append(item**2)
  else:
    result.append(item)
result

[1, 4, 3, 16, 5, 36, 7, 64, 9, 100]

In [6]:
# With comprehension

result = [item**2 if item % 2 == 0 else item for item in numbers]
result

[1, 4, 3, 16, 5, 36, 7, 64, 9, 100]

### Multiple Comprehensions

In [7]:
# Transpose a matrix

transposed = []
matrix = [[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

for i in range(len(matrix[0])):
    transposed_line = []

    for line in matrix:
        transposed_line.append(line[i])
    transposed.append(transposed_line)
  

transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [8]:
transposed = [[line[i] for line in matrix] for i in range(4)]
transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

## 2 Decorators (TODO)

A decorator is just a regular Python function. Decorators wrap another function, modifying its behavior.

In [9]:
def my_decorator(func):
    def wrapper():
        print("Something is happening before the function is called.")
        func()
        print("Something is happening after the function is called.")
    return wrapper

@my_decorator
def say_whee():
    print("Whee!")

say_whee()

Something is happening before the function is called.
Whee!
Something is happening after the function is called.

## 3 Map, Filter and Reduce

### 3.1 - Mapping


Mapping consists of applying a transformation function to an iterable to produce a new iterable. Items in the new iterable are produced by calling the transformation function on each item in the original iterable.

**Syntax:**

`map(function, iterable, ...)`

In [10]:
# Create a list of squared elements

numbers = [1, 2, 3, 4, 5]
squared = []

for num in numbers:
  squared.append(num ** 2)
print(squared)

# Using map function

def square(number):
  return number ** 2

squared = list(map(square, numbers))
print(squared)

[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]

In [11]:
# Convert values

str_nums = ["2", "7", "9", "4"]

int_nums = list(map(int, str_nums))
int_nums

[2, 7, 9, 4]

In [12]:
# Using lambda

numbers = [1, 2, 3, 4, 5]

squared = map(lambda num: num ** 2, numbers)
list(squared)

[1, 4, 9, 16, 25]

In [13]:
# Map vs Comprehensions

# Transformation function
def square(number):
    return number ** 2

numbers = [1, 2, 3, 4, 5, 6]

# Using map()
print(list(map(square, numbers)))

# Using a list comprehension
print([square(x) for x in numbers])

[1, 4, 9, 16, 25, 36]
[1, 4, 9, 16, 25, 36]

In [14]:
# More than one iterable

circle_areas = [3.56773, 5.57668, 4.00914, 56.24241, 9.01344, 32.00013]

result = list(map(round, circle_areas, range(1,7)))

print(result)

[3.6, 5.58, 4.009, 56.2424, 9.01344, 32.00013]

### 3.2 - Filtering


Filtering consists of applying a predicate or Boolean-valued function to an iterable to generate a new iterable. Items in the new iterable are produced by filtering out any items in the original iterable that make the predicate function return false.

**Syntax:**

`filter(function, iterable)`

In [15]:
# Filter scores > 75

scores = [66, 90, 68, 59, 76, 60, 88, 74, 81, 65]

def above_average(score):
    return score > 75

over_75 = list(filter(above_average, scores))

print(over_75)

[90, 76, 88, 81]

### 3.2 - Reducing


Reducing consists of applying a reduction function to an iterable to produce a single cumulative value. It applies a rolling computation to sequential pairs of values in a list. 

Python’s reduce() operates on any iterable—not just lists—and performs the following steps:

* Apply a function (or callable) to the first two items in an iterable and generate a partial result.
* Use that partial result, together with the third item in the iterable, to generate another partial result.
* Repeat the process until the iterable is exhausted and then return a single cumulative value.

**Syntax:**

`reduce(function, iterable[, initializer])`

In [16]:
# Example with adding numbers in a list

from functools import reduce

def my_add(a, b):
    result = a + b
    print(f"{a} + {b} = {result}")
    return result


numbers = [0, 1, 2, 3, 4]

reduce(my_add, numbers)

0 + 1 = 1
1 + 2 = 3
3 + 3 = 6
6 + 4 = 10

10

#### The Optional Argument: initializer

The third argument to Python’s reduce(), called initializer, is optional. If you supply a value to initializer, then reduce() will feed it to the first call of function as its first argument.

In [17]:
numbers = [0, 1, 2, 3, 4]

reduce(my_add, numbers, 100)

100 + 0 = 100
100 + 1 = 101
101 + 2 = 103
103 + 3 = 106
106 + 4 = 110

110

#### Comparing reduce() and accumulate()

A Python function called accumulate() lives in itertools and behaves similarly to reduce(). accumulate(iterable[, func]) accepts one required argument, iterable, which can be any Python iterable. The optional second argument, func, needs to be a function (or a callable object) that takes two arguments and returns a single value.

accumulate() returns an iterator. Each item in this iterator will be the accumulated result of the computation that func performs. The default computation is the sum. If you don’t supply a function to accumulate(), then each item in the resulting iterator will be the accumulated sum of the previous items in iterable plus the item at hand.

In [20]:
from itertools import accumulate
from operator import add

numbers = [1, 2, 3, 4]

print(list(accumulate(numbers)))

print(reduce(add, numbers))

[1, 3, 6, 10]
10

If, on the other hand, you supply a two-argument function (or callable) to the func argument of accumulate(), then the items in the resulting iterator will be the accumulated result of the computation performed by func. Here’s an example that uses operator.mul():

In [21]:
from operator import mul

numbers = [1, 2, 3, 4]

print(list(accumulate(numbers, mul)))

print(reduce(mul, numbers))

[1, 2, 6, 24]
24

## 4 Generators (TODO)